<div class= 'col-lg-12'>
<%=flash[:notice]%>
<div class="card rounded-0 mt-5 mb-5">
    <div class="card-body">
        <h2 class='text-center'>Listing Employess</h2>
        </div>
        </div>
<%= link_to "create new Employee", new_employee_path,class:'btn btn-primary btn-lg'%>

<div class="dropdown mt-2">
  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
  View List In
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <!--if you want to add dropdown use this -->
    <li><%= link_to "Table", employees_path(view_type: "table"), class:"dropdown-item"%></li>
    <li><%= link_to "Accordian", employees_path(view_type: "accordian"), class:"dropdown-item"%></li>
  </ul>
</div>

<%if params[:view_type] != 'accordian'%>
    <table class="table table-bordered mt-4 mb-5">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Action</th>
    <!--            <th>City</th>
                <th>State</th>
                <th>Country</th>
                <th>Pincode</th>
                <th>Address</th>
    -->
            </tr>
            </thead>
            <tbody>
                <%@employees.each do |employee|%>
            <tr>
            <td><%=employee.name%></td>
            <td><%=employee.personal_email%></td>
            <td>

            <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Actions
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <!--if you want to add dropdown use this -->
        <li><%= link_to "Edit", edit_employee_path(employee), class:"dropdown-item"%></li>
        <li><%= link_to "View", employee_path(employee), class:"dropdown-item"%></li>
        <li><%= link_to "Delete", employee_path(employee), class:"dropdown-item", method: :delete, data:{confirm: 'Are you sure to delete this employee?'}%></li>
    </ul>
    </div>

        <!--if you want to add buttons try this     
            <%#= link_to "Edit", edit_employee_path(employee), class:"btn btn-primary"%>
            <%#= link_to "View", employee_path(employee), class:"btn btn-info"%>
            <%#= link_to "Delete", employee_path(employee), class:"btn btn-danger", method: :delete, data:{confirm: 'Are you sure to delete this employee?'}%>

    -->         
            </td>
    <!--     <td><%#=employee.city%></td>
            <td><%#=employee.state%></td>
            <td><%#=employee.country%></td>
            <td><%#z=employee.pincode%></td>
            <td><%#=employee.address%></td>
            
    -->
            </tr>
            <%end%>
            </tbody>
    </table>
<%end%>

<!--##################################################################################### -->
<%if params[:view_type].present? && params[:view_type]=='accordian'%>
    <div class="accordion" id="accordionExample">
        <%@employees.each_with_index do |employee,index|%>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading<%= index+1%>">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= index+1%>" aria-expanded="true" aria-controls="collapse<%= index+1%>">
                    <%=employee.name_with_email%>
                </button>
                </h2>
                <div id="collapse<%= index+1%>" class="accordion-collapse collapse" aria-labelledby="heading<%= index+1%>" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <h2 class="text-center">Employee Details</h2>
                    <div class="row mt-5">
                        <div class="col-lg-6">
                        <h3 class="text-center">Personal Information</h3>
                        <p class="lead"><strong>First Name:</strong><%= employee.first_name %></p>
                        <p class="lead"><strong>Middle Name:</strong><%= employee.middle_name.present? ? employee.middle_name : '--NA--' %></p>
                        <p class="lead"><strong>Last Name:</strong><%= employee.last_name %></p>
                        <p class="lead"><strong>Personal Email:</strong><%= employee.personal_email %></p>
                        <p class="lead"><strong>Date of Birth:</strong><%= employee.date_of_birth %></p>
                        <p class="lead"><strong>Date of Joining:</strong><%= employee.date_of_joining %></p>
                        <p class="lead"><strong>About:</strong><%= employee.about %></p>
                        </div>
                        <div class="col-lg-6">
                        <h3 class="text-center">Address Information</h3>
                        <p class='lead'><strong>Address Line 1:</strong><%= employee.address_line_1 %></p>
                        <p class='lead'><strong>Address Line 2:</strong><%= employee.address_line_2.present? ? employee.address_line_2 : '--NA--' %></p>
                        <p class='lead'><strong>City:</strong><%= employee.city %></p>
                        <p class='lead'><strong>State:</strong><%= employee.state %></p>
                        <p class='lead'><strong>Country:</strong><%= employee.country %></p>
                        <p class='lead'><strong>Pincode:</strong><%= employee.pincode %></p>
                        </div>
                        <div class="col-lg-12">
                            <%= link_to "Edit", edit_employee_path(employee), class:"btn btn-primary"%>
                            <%= link_to "Delete", employee_path(employee), class:"btn btn-danger", method: :delete, data:{confirm: 'Are you sure to delete this employee?'}%>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        <%end%>
    </div>
<%end%>
</div>