<div class= 'col-lg-12'>
<%=flash[:notice]%>
<div class="card rounded-0 mt-5 mb-5">
    <div class="card-body">
        <h2 class='text-center'>Listing Documents</h2>
        </div>
        </div>
<%= link_to "create new Document", new_document_path,class:'btn btn-primary btn-lg'%>
<table class="table table-bordered mt-4 mb-5">
    <thead>
        <tr>
            <th>Document Name</th>
            <th>Doc Type</th>
            <th>Employee</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
            <%@documents.each do |document|%>
        <tr>
        <td><%=document.name%></td>
        <td><%=document.doc_type%></td>
        <td><%=document.employee.name%></td>
        <td>

        <div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
   Actions
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <!--if you want to add dropdown use this -->
    <li><%= link_to "Edit", edit_document_path(document), class:"dropdown-item"%></li>
    <li><%= link_to "View", document_path(document), class:"dropdown-item"%></li>
    <li><%= link_to "Delete", document_path(document), class:"dropdown-item", method: :delete, data:{confirm: 'Are you sure to delete this employee?'}%></li>
  </ul>
</div>

     <!--if you want to add buttons try this     
         <%#= link_to "Edit", edit_employee_path(employee), class:"btn btn-primary"%>
         <%#= link_to "View", employee_path(employee), class:"btn btn-info"%>
         <%#= link_to "Delete", employee_path(employee), class:"btn btn-danger", method: :delete, data:{confirm: 'Are you sure to delete this employee?'}%>

-->         
        </td>
<!--     <td><%#=employee.city%></td>
        <td><%#=employee.state%></td>
        <td><%#=employee.country%></td>
        <td><%#z=employee.pincode%></td>
        <td><%#=employee.address%></td>
        
-->
        </tr>
        <%end%>
        </tbody>
        </table>
</div>